@import '~bootstrap/scss/bootstrap';

.container {
  padding-left: 0px;
  padding-right: 0px;
  max-width: 100%;
}
.maingrid {
  height: 100vh;
  width: 100vw;
  font-family: 'Dosis', sans-serif;
}
.titlegrid {
  border: 1px solid black;
  text-align: center;
}
.sigrid {
  border: 1px solid black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 80%;
  height: 90%;
}
.sicard {
  width: 80%;
  margin-top: 10%;
  margin-bottom: 10%;
}
.sugrid {
  border: 1px solid black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 80%;
  height: 90%;
}
.sucard {
  width: 80%;
  margin-top: 10%;
  margin-bottom: 10%;
}
.footgrid {
  border: 1px solid black;
}
.userhomemain {
  height: 100vh;
  // width: 100vw;
  border: 1px solid black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.menugrid {
  border: 1px solid black;
  text-align: center;
  // display: flex;
  // justify-content: center;
  // align-items: stretch;
}
.userhomegrid {
  border: 1px solid black;
  text-align: center;
  // display: flex;
  // justify-content: center;
  // align-items: stretch;
}
.showitemstitle1 {
  text-align: center;

}
.itemsubgrid {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.storessubgrid {
  border: 1px solid black;
}
.recipesubgrid {
  border: 1px solid black;
}
